@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
html, body {
    background-color: black; /* Set the background to black */
    color: white; /* Set the text color to white for better contrast */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden;
  }
  
a.active hr {
    display: block
}

* {
    font-family: Outfit;
}


.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width:640px) {
    a.active {
        background-color: black;
        color: white;
    }
}

.app {
    text-align: center;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .elements {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .canvas {
    margin: 0 auto;
    position: relative;
    border: 2px solid black;
    background-color: #f0f0f0;
  }
  
  /* Shape styling for the canvas */
  .shape {
    position: absolute;
  }
  
  .circle {
    border-radius: 50%;
    background-color: red;
  }
  
  .square {
    background-color: blue;
  }
  
  .ornament {
    background-color: green;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  html, body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
  }